// Specific CSS for your home-page

.content-group1, .content-group2, .content-group3, .content-group4{
  text-align: center;
  height:500px;
 background: #fafafa;
 border-radius:15px;
 margin:30px auto;
 border-bottom: 5px solid #E3E3E3;
 border-right: 5px solid #E3E3E3;
 border-radius:15px;
  box-shadow: 15px 15px 10px rgba(0,0,0,0.2);
 width:400px;
}


.content-group1 p, .content-group2 p, .content-group3 p, .content-group4 p, .content-group5 p,   {
  width:300px;
  margin: 30px auto;
  padding-bottom: 10px;
}

.content-group5 {
  background: white;
  border-bottom: 5px solid #E3E3E3;
  border-right: 5px solid #E3E3E3;
  border-radius:20px;
   box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
   display: flex;
   align-items: center;
   justify-content: center;
}

body {
  background:#B1EDE8;
}



.content-group1 img, .content-group2 img , .content-group3 img, .content-group4 img    {
  width:450px;
  margin: 0 auto;
}

.content-group5 img {
  width:300px;
  margin:0 auto;
}

.image-wrap {
  margin: 0 auto;
  width:300px;
}

.title-margin {
  margin-top:40px;
}

.content-group5 {
  margin:0 auto;
  width:400px;
  margin-top:40vh;
}

.button-mainpage-group {
margin-bottom:20px;
text-align: center;
}

.content-group5 h3 {
text-align: center;
margin-top:10px;
}
