// Specific CSS for your home-page

.content-group1, .content-group2, .content-group3, .content-group4, .content-group5 {
  height:100%;
}



.content-group1 img, .content-group2 img , .content-group3 img, .content-group4 img    {
  width:450px;
  margin: 0 auto;
}

.content-group5 img{
  margin:40px 0;
}

.title-margin {
  margin-top:40px;
}
