// Specific CSS for your home-page

.content-group1, .content-group2, .content-group3, .content-group4{
  height:500px;
 background: #fafafa;
 box-shadow: 0 0 15px rgba(0,0,0,0.2);
 border-radius:15px;
 margin:30px auto;
 border-bottom: 10px solid #E5E5E5;
 width:400px;
 border-bottom: 5px solid #E5E5E5;
 border-right: 5px solid #E5E5E5;
 border-radius:15px;
  box-shadow: 15px 10px 10px rgba(0,0,0,0.2);
}


.content-group1 p, .content-group2 p, .content-group3 p, .content-group4 p, .content-group5 p,   {
  width:350px;
  margin: 20px auto;

}
.content-group1 h3, .content-group2 h3, .content-group3 h3, .content-group4 h3, .content-group5 h3,   {
  margin-top:20px;
  text-align: center;
  font-weight:800;
  color:#69585F;
}



.content-group5 {

  background-color: white;
  border-bottom: 5px solid #E5E5E5;
  border-right: 5px solid #E5E5E5;
  border-radius:20px;
  box-shadow: 15px 10px 10px rgba(0,0,0,0.2);
   width:400px;
   height:550px;
   margin:0 auto;
}

body {
  font-family: 'Nunito', sans-serif !important;
  background:#B1EDE8;
}



.content-group1 img, .content-group2 img , .content-group3 img, .content-group4 img    {
  width:200px;

}

.content-group5 img {
  width:300px;
  // margin:0 auto;
}

.image-wrap {
  text-align: center;
}

.title-margin {
  // margin-top:40px;
}

.content-group5 p {
  font-size: 20px;
  font-weight:200;
}



.button-mainpage-group {
// margin-bottom:20px;
text-align: center;
}

.content-group5 h3 {
text-align: center;
// margin-top:10px;
}
