// Import page-specific CSS files here.
@import "home";


.leaderboard-card {
  background: white;
  border-radius:15px;
  border-right:5px solid #E5E5E5;
  border-bottom: 5px solid #E5E5E5;
  margin:20px 0px;
  box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.2);
  height:550px;
  width:400px;
  margin:0 auto;
}

.leaderboard-card img {
  width:60px;
  height:60px;
}

.leaderboard-card p {
  text-align: center;
}

.leaderboard-card h2 {
  text-align: center;
  font-weight:800;
  text-align: center;
}

.leaderbord-card-inner {
  display: flex;

}

.first-place {
  font-size:40px;
  font-weight: 800;
  color:#B8D8BA;
}

.first-place-boi {
  display: flex;
}


.second-place {
  font-size:32px;
  font-weight:800;
  color:#EF959D;
}

.third-place {
  font-size:26px;
  font-weight:800;
  color:#FCDDBC;
}

.rest-place {
  font-size:20px;
}

.top-3 {
  display: flex;
  flex-direction: column;
}
