<div class="content-group1">
  <div class="image-wrap">
  <img src="https://res.cloudinary.com/doem0zjpf/image/upload/v1563281040/OMEEE_baejtz.png" alt="">
    </div>
    <h3 class="">Beat Procrastination</h3>
      <p class="paragraph-margin">Being productive can be a daunting task. Find clarity with Conquered Time and start your journey of self-improvement.</p>
</div>

<div class="content-group2">
  <div class="image-wrap">
  <img src="https://res.cloudinary.com/doem0zjpf/image/upload/v1563281234/12345_rkscjp.png" alt="">
    </div>
  <div class="flex-right">
    <h3 class="">Create A Tactical Journal</h3>
      <p>Creating smaller, more manageable milestones builds a map to accomplishing our large goals.
      </p>
    </div>
    </div>

<div class="content-group3">
  <div class="image-wrap">
  <img src="https://res.cloudinary.com/doem0zjpf/image/upload/v1563281408/420_lacmnl.png" alt="">
    </div>
    <h3>Begin Your Focus Timer</h3>
      <p>Start a focus timer on your milestones to avoid distractions and work with complete devotion. It's all about quality over quantity!</p>
</div>

<div class="content-group5">
  <div class="image-wrap">
    <img class="img-artwork vert-move " src="https://res.cloudinary.com/doem0zjpf/image/upload/v1562846054/jeees_aayrrr.png" alt="">
  </div>
  <h3>Start Your Journey</h3>
  <p>Let's get started! Think of a goal you want to work on.</p>
  <div class="button-center">
    <%= link_to "Conquer Time", new_journal_path, :class => "form-submit" %>
  </div>
</div>
