<div class="content-group1">
  <img src="https://res.cloudinary.com/doem0zjpf/image/upload/v1562844774/WOOO_u2b6qt.png" alt="">
  <div class="flex-left">

    <h3 class="">Beat Procrastination and Achieve Your Goals!</h3>
    <div class="paragraph-height">
      <p class="paragraph-margin">Being productive can be a daunting task. Find clarity with Conquered Time and start your journey of self-improvement.</p>
    </div>
  </div>
</div>

<div class="content-group2">
  <img src="https://res.cloudinary.com/doem0zjpf/image/upload/v1562845299/WAPE_ncmzvw.png" alt="">
  <div class="flex-right">
    <h3 class="">Create A Tactical Journal</h3>
    <div class="paragraph-height">
      <p class="paragraph-margin">Creating smaller, more manageable milestones builds a map to accomplishing our large goals. </p>
    </div>
  </div>
</div>

<div class="content-group3">
  <img src="https://res.cloudinary.com/doem0zjpf/image/upload/v1562845793/LASSE_KRONER_qrhdxn.png" alt="">
  <div class="flex-left">
    <h3>Begin Your Focus Timer</h3>
    <div class="paragraph-height">
      <p class=" paragraph-margin">Start a focus timer on your milestones to avoid distractions and work with complete devotion. It's all about quality over quantity!</p>
    </div>
  </div>
</div>

<div class="full-height">
<div class="content-group5">
  <div class="banner-main">
    <h3>Start Your Journey</h3>
    <div class="image-wrap">
    <img class="img-artwork vert-move " src="https://res.cloudinary.com/doem0zjpf/image/upload/v1562846054/jeees_aayrrr.png" alt="">
    </div>
    <p>Let's get started!  Think of a goal you want to work on, click below and starting journaling.</p>
    <div class="button-mainpage-group">
    <%= link_to "Conquer Time", journals_new_path, :class => "form-submit" %>
    </div>
  </div>
</div>
</div>
