<div class="content-group1">
    <img src="https://res.cloudinary.com/doem0zjpf/image/upload/v1562841856/EEEEE_mh6dan.png" alt="">
    <div class="flex-left">

      <h3 class="">Beat Procrastination and Achieve Your Goals!</h3>
      <div class="paragraph-height">
      <p class="paragraph-margin">Being productive can sometimes be a daunting task. But it doesn't have to be. With Conquered Time, you can find clarity and finally enjoy the process of self-improvement!</p>
      </div>
    </div>
  </div>

<div class="content-group2">
  <img src="https://res.cloudinary.com/doem0zjpf/image/upload/v1562845793/LASSE_KRONER_qrhdxn.png" alt="">
  <div class="flex-right">
    <h3 class="">Step 1: Create A Tactical Journal</h3>
    <div class="paragraph-height">
    <p class="paragraph-margin">We usually procrastinate when our goals are too big or difficult to achive. So you first need to break down your large goals into small and managable milestones.</p>
      </div>
  </div>
  </div>


<div class="content-group3">
  <img src="https://res.cloudinary.com/doem0zjpf/image/upload/v1562844774/WOOO_u2b6qt.png" alt="">
  <div class="flex-left">
    <h3>Step 2: Begin Your Focus Timer</h3>
    <div class="paragraph-height">
    <p class=" paragraph-margin">Once you've made your tactical journal, select any one of your chosen milestone and initiate your focus timer. During this timer stay away from all distractions and work with complete devotion and present moment mindfulness. It's all about quality over quantity!</p>
      </div>
  </div>
</div>

<div class="content-group4">
  <img src="https://res.cloudinary.com/doem0zjpf/image/upload/v1562845299/WAPE_ncmzvw.png" alt="">
    <h3>Step 3: Reflect & Repeat</h3>
    <div class="paragraph-height">
    <p class="paragraph-margin">  After completing your focus session, contemplate on the work you've done so far, take a small break if you need it and then repeat the cycle.<br>
    By going through this process you'll escape the limbo of procrastination and start making progress towards your goals!</p>
    </div>
  </div>

<div class="content-group5">
  <div class="banner-main">

    <!-- <h2 class="title-margin">Step 4: Realize Your True Potential</h2> -->
    <img class="img-artwork vert-move " src="https://res.cloudinary.com/doem0zjpf/image/upload/v1562846054/jeees_aayrrr.png" alt="">

  </div>

  <h4 style="color:#495058;">Create Your Journal</h4>
  <form action="/journals" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <label class="hidden" for="title">Title:
    </label>

    <input class="form-textfield" type="text" placeholder="Eg: Health, Fitness, School, Career.. " name="journal[title]" id="title">

<div class="margin-paragraph">
    <input class="form-submit" value="Begin Your Journey" type="submit">
  </form>
  </div>
</div>
