<div class="content-group1">
  <img src="https://res.cloudinary.com/doem0zjpf/image/upload/v1562844774/WOOO_u2b6qt.png" alt="">
  <div class="flex-left">

    <h3 class="">Beat Procrastination and Achieve Your Goals!</h3>
    <div class="paragraph-height">
      <p class="paragraph-margin">Being productive can sometimes be a daunting task. But it doesn't have to be. With Conquered Time, you can find clarity and finally enjoy the process of self-improvement!</p>
    </div>
  </div>
</div>

<div class="content-group2">
  <img src="https://res.cloudinary.com/doem0zjpf/image/upload/v1562845299/WAPE_ncmzvw.png" alt="">
  <div class="flex-right">
    <h3 class="">Create A Tactical Journal</h3>
    <div class="paragraph-height">
      <p class="paragraph-margin">We usually procrastinate when our goals are too big or difficult to achive. So you first need to break down your large goals into small and managable milestones.</p>
    </div>
  </div>
</div>

<div class="content-group3">
  <img src="https://res.cloudinary.com/doem0zjpf/image/upload/v1562845793/LASSE_KRONER_qrhdxn.png" alt="">
  <div class="flex-left">
    <h3>Begin Your Focus Timer</h3>
    <div class="paragraph-height">
      <p class=" paragraph-margin">Once you've made your tactical journal, select any one of your chosen milestone and initiate your focus timer. During this timer stay away from all distractions and work with complete devotion and present moment
        mindfulness. It's all about quality over quantity!</p>
    </div>
  </div>
</div>

<div class="full-height">
<div class="content-group5">
  <div class="banner-main">
    <h3>Start Your Journey</h3>
    <div class="image-wrap">
    <img class="img-artwork vert-move " src="https://res.cloudinary.com/doem0zjpf/image/upload/v1562846054/jeees_aayrrr.png" alt="">
    </div>
    <p>Creating a journal is the first step on this new journey.</p>
    <div class="button-mainpage-group">
    <%= link_to "Create Your First Journal", new_journal_path, :class => "form-submit" %>
    </div>
  </div>
</div>
</div>
