<div class="content-group1">
  <span class="color1">
    <img src="https://res.cloudinary.com/doem0zjpf/image/upload/v1562802863/TEST_qdyrfq.png" alt="">
    <div class="flex-left">
      <h3 class="">Productivity</h3>
      <div class="paragraph-height">
      <p class="paragraph-margin">But it doesn't have to be. With Conquered Time, you can become productive with our super effective solutions.</p>
      </div>
    </div>
  </div>
</span>

<div class="content-group2">
  <img src="https://res.cloudinary.com/doem0zjpf/image/upload/v1562763241/wejirjwejierw_xi1uxl.png" alt="">
  <div class="flex-right">
    <h3 class="">Your Productivity Dairy</h3>
    <div class="paragraph-height">
    <p class="paragraph-margin">here you have it. its a productivity dairy which is nice to have in case you need it you know.</p>
      </div>
  </div>
</div>

<div class="content-group3">
  <img src="https://res.cloudinary.com/doem0zjpf/image/upload/v1562763527/epepepepe_am8n9g.png" alt="">
  <div class="flex-left">
    <h3>Something Else</h3>
    <div class="paragraph-height">
    <p class=" paragraph-margin">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
  </div>
</div>

<div class="content-group4">
  <img src="https://res.cloudinary.com/doem0zjpf/image/upload/v1562766176/woerkoeworwer_ivkkri.png" alt="">
  <div class="flex-right">
    <h3>Something Else</h3>
    <div class="paragraph-height">
    <p class="paragraph-margin"> Detta är en så jävla bra app du anar inte ens brorsan den är king haha ber wööo så jävla skön app en sån här chans får man bara en gång i livet..</p>
    </div>
  </div>
</div>

<div class="content-group5">
<div class="flex-main">
  <div class="banner-main">
    <h2 class="title-margin">ACHIEVE YOUR GOALS</h2>
    <img class="img-artwork vert-move " src="https://res.cloudinary.com/doem0zjpf/image/upload/v1562638680/group_3x_jvunnq.png" alt="">
  </div>


  <form action="/journals" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <label class="hidden" for="title">Title:
    </label>
    <input class="form-textfield" type="text" placeholder="" name="journal[title]" id="title">

    <input class="form-submit" value="Begin Your Journey" type="submit">
  </form>
  </div>
