<% @journals.each do |journal| %>
  <%= link_to journal_entries_path(journal) do %>
  <div class="card-journal">
    <div class="card-journal-profile">
      <div class="card-journal-profile-inner">
        <img src="https://res.cloudinary.com/doem0zjpf/image/upload/v1563010635/NOOOG_dt4nzg.png" alt="">
      </div>
    </div>
    <div class="card-journal-text">
      <h2><%= journal.title.capitalize %></h2>
      <div class="card-journal-entries">
        <% journal.last_three_entries.each do |entry| %>
          <p><%= entry.goal %>
            25 minutes</p>
        <% end %>
      </div>
      <div class="card-journal-trophies">
        <div class="trophies">
          <p>Trophies</p>
          <i class="fas fa-trophy"></i>
        </div>

        <div class="time">
          <p>Time</p>
          <i class="fas fa-hourglass-end"></i>

        </div>
        <div class="times">
          <p>Times</p>
          <i class="fab fa-apple"></i>
        </div>

        <div class="something">
          <p>something</p>
          <i class="fas fa-address-book"></i>
        </div>
      </div>
    </div>
  </div>

<% end %>
<% end %>
