

    <!-- <h2 class="title-margin">Step 4: Realize Your True Potential</h2> -->
    <div class="card-create">
      <div class="image-create">
    <!-- <img class="img-artwork" src="https://res.cloudinary.com/doem0zjpf/image/upload/v1563000290/try_irklrm.png" alt=""> -->
    </div>
  <div class="group-new">
  <img src="https://res.cloudinary.com/doem0zjpf/image/upload/v1563001489/nice_try_bzisao.png" alt="">
  <p>**Think of this journal as a way to track progress towards your goals.** Your journal title should be a broad subject such as Fitness, Health, Relationships, Spirituality etc. that you want to work on.</p>
  </div>
  <form action="/journals" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <label class="hidden" for="title">Title:
    </label>

    <input class="form-textfield form-textfield-new" placeholder="" type="text" name="journal[title]" id="title">
    <div class="button-mainpage-group">
    <input class="form-submit" value="Create Your New Journal" type="submit">
    </div>
  </form>
  </div>
</div>
