<div class="card-create-journal">
    <div class="group-new">
      <img class="fade-in" src="https://res.cloudinary.com/doem0zjpf/image/upload/v1563001489/nice_try_bzisao.png" alt="">
      <p> <span class="style-inline"> Let's begin! </span><br> Select which journal to track your goal in, or create a new journal at the bottom.</p>
    </div>
</div>

<% @journals.each do |journal| %>
  <%= link_to new_journal_entry_path(journal) do %>
  <div class="card-journal">
    <div class="card-journal-top">
      <h2><%= journal.title.capitalize %></h2>
      <img src="https://res.cloudinary.com/doem0zjpf/image/upload/v1563010548/REE_nxre97.png" alt="">
        </div>
      <% end %>
      <div class="card-journal-trophies">
          <div class="times">
          <i class="fas fa-trophy"></i>
          </div>
        <div class="time">
          <i class="fas fa-hourglass-end"></i>
          </div>
          <div class="apple">
          <i class="fas fa-star"></i>
          </div>
      </div>
      <% journal.last_three_entries.each do |entry| %>
        <div class="card-journal-entries">
        </div>
<% end %>
<div class="card-journal-book-add-container">
<div class="card-journal-book-add">
<p style="color:white; font-weight:800;">Open Journal</p>
</div>
</div>
</div>
<% end %>

<div class="card-own-journal">
<div class="card-own-journal-text">
<p> <span class="style-inline">Hey!</span><br> Feel free to create your own journal. Remember the title should be a broad subject you wish to work on, like the examples above.</p>
<div class="image-create">
  <img src="https://res.cloudinary.com/doem0zjpf/image/upload/v1563108730/reverze_cuytoz.png" alt="">
</div>
</div>
<form action="/journals" method="post">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<label class="hidden" for="title">Title:
</label>

<input style="text-align:center" class="form-textfield" type="text" placeholder="" name="journal[title]" id="title">
<input type="hidden" id="helpUser" name="helpUser" value="true">
<div class="card-own-journal-button">
<input class="form-submit" value="Create Journal" type="submit">
</div>
</form>
</div>
