

    <!-- <h2 class="title-margin">Step 4: Realize Your True Potential</h2> -->
    <div class="card-create">
      <div class="image-create">
    <img class="img-artwork" src="https://res.cloudinary.com/doem0zjpf/image/upload/v1563000290/try_irklrm.png" alt="">
    </div>
  <h4 style="color:#495058;">Create Your Journal</h4>

<p>**Think of this journal as a way to track progress towards your goals.** Your journal title should be a broad subject such as Fitness, Health, Relationships, Spirituality etc.<br><br>



  <form action="/journals" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <label class="hidden" for="title">Title:
    </label>

    <input class="form-textfield" type="text" name="journal[title]" id="title">

<div class="margin-paragraph">
    <input class="form-submit" value="Create a new Journal" type="submit">
  </form>
  </div>
</div>
