

.button-small-red  {
  border-left:none;
  border-right:none;
  border-top:none;
  font-size:16px;
  padding:25px 50px;
  background-color: #B8D8BA;
  color:white;
  text-decoration:none;
  font-weight:800;
  border-radius:15px;
  border-bottom:7px solid #A8C5AA;
}

.button-small-red a:hover {
  background-color:#DA888F;
  transition:0.3s;
}

.button-small-red:active {
  background-color:#A8C5AA;
  border:none;
}


/* Button Large */


.button-large-red a {
  font-size:16px;
  padding:25px 80px;
  background-color: #EF959D;
  color:white;
  text-decoration:none;
  font-weight:800;
  border-radius: 4px;
  display:block;
}

.button-large-red a:hover {
  background-color:#DA888F;
  transition:0.3s;
}

/* Button Blue */

.button-large-blue {
  margin:10px 0px;
  cursor:pointer;
}

.button-large-red {
  margin:10px 0px;
  cursor:pointer;
}


.button-large-blue a {
  font-size:16px;
  padding:25px 80px;
  background-color: #B1DDF1;
  color:white;
  text-decoration:none;
  font-weight:800;
  border-radius: 4px;
  display:block;
}

.button-large-blue a:hover {
  background-color:#B8E0F2;
  transition:0.3s;
}


.button-small-blue {
cursor:pointer;
}

.button-small-blue a {
  font-size:16px;
  padding:25px 50px;
  background-color: #B1DDF1;
  color:white;
  text-decoration:none;
  font-weight:800;
  border-radius: 15px;
  border-bottom:7px solid #91B5C6;
}

.button-small-blue a:active {
  background: #91B5C6;
  border:none;
}

.button-center {
display:flex;
align-items: center;
justify-content: center;


}

.target-button-mainpage button {
  padding:20px 70px;
}


.card-journal-book-add-container {
  display: flex;
  height:323px;
  align-items: center;
  width:100%;
  justify-content: center;
}


.button-fast {
  border-left:none;
  border-right:none;
  border-top:none;
  font-size:16px;
  padding:25px 50px;
  background-color: #B8D8BA;
  color:white;
  text-decoration:none;
  font-weight:800;
  border-radius:15px;
  border-bottom:7px solid #A8C5AA;
}

.button-fast a:hover {
  background-color:#DA888F;
  transition:0.3s;
}

.button-fast:active {
  background-color:#A8C5AA;
  border:none;
}

.button-fast-second {
  border-left:none;
  border-right:none;
  border-top:none;
  font-size:16px;
  padding:25px 50px;
  background-color: #B8D8BA;
  color:white;
  text-decoration:none;
  font-weight:800;
  border-radius:15px;
  border-bottom:7px solid #A8C5AA;
}
