.card-for-entries {
  margin: 0 auto;
  background-color:white;
  border-radius:15px;
  height:550px;
  width:400px;
  border-bottom: 7px solid #E5E5E5;
  border-right:  5px solid #E5E5E5;
  position:relative;
  box-shadow: 15px 10px 10px rgba(0,0,0,0.2);
  padding:5px 10px 0px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}


.card-for-entries-text {
  width:250px;
  height:200px;


.group-creation1 {
  margin:0 auto;

}

.card-for-entries-flex {
}

.card-for-entries h2 {


}

.group-creation1 {
  margin:0 auto;

  margin-top:0px;


}

.group-creation2 {
  margin:0 auto;
}


.card-for-entries img {
  position:absolute;
  bottom:0px;
  right:-16px;
  height:217px;
  width:207px;
}


.card-for-entries p  {
  font-size:20px;
  font-weight:200;
  margin:20px 20px;
  line-height:25px;
}



.card-for-milestones {
  background-color: white;
  border-radius: 15px;
  width:400px;
  height:550px;
  border-bottom: 7px solid #E5E5E5;
  border-right:  5px solid #E5E5E5;
  box-shadow: 15px 10px 10px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 auto;
}

.card-for-milestones-text{
  width:350px;
  margin:0 auto;
  margin-bottom:10px;
}

.card-for-milestones p {
  font-size:20px;

}

.text-tryout {
    padding:10px 10px;
}

.card-milestones-flex {
  display: flex;
}

.text-tryout-small {
  width:300px;
  padding:0px 10px;
}

.card-for-milestones img {
  width:120px;
  justify-content: flex-end;
}

.card-for-milestones-text{
  width:350px;
  margin:0 auto;

  margin-bottom:10px;
}
