.card-for-entries {
  margin: 0 auto;
  background-color:white;
  border-radius:15px;
  height:550px;
  width:400px;
  border-bottom: 5px solid #E5E5E5;
  border-right:  5px solid #E5E5E5;
  box-shadow: 15px 10px 10px rgba(0,0,0,0.2);

}

.card-for-entries-inner {
  width:350px;
  margin:0 auto;
}

.card-for-milestones {
  background-color: white;
  border-radius: 15px;
  width:400px;
  height:550px;
  border-bottom: 5px solid #E5E5E5;
  border-right:  5px solid #E5E5E5;
  box-shadow: 15px 10px 10px rgba(0,0,0,0.2);
  margin: 0 auto;
}



.card-for-entries p  {
  font-size:20px;
  font-weight:200;
}





.card-for-milestones p {
  // margin-bottom:40px;
}




.card-for-milestones-text{
  // width:350px;
  // margin:0 auto;
  // margin-bottom:10px;

}

.card-for-milestones p {
  font-size:20px;
}

.card-for-milestones img {
  width:120px;
  justify-content: flex-end;
}
