.entries-card {
 border-radius:4px;
 min-height:400px;
 max-height:400px;
 max-width:300px;
 box-shadow: 0 0 15px rgba(0,0,0,0.2);
 display: flex;
 justify-content: flex-start;
 flex-direction: column;
 align-items: center;
 position:relative;
 background: linear-gradient(162deg, white 80%, #EF959D 80%);
}
#button-special {
  border:none;
  background:#EF959D;
  color:white;
  font-family: 'Roboto', "sans-serif";
  font-weight:800;
}

.entries-card-button {
  position:absolute;
  bottom:10px;
  right:10px;
}

.entries-card-text {
 align-items:flex-end;
 margin:10px auto;
 background: white;
}


.entries-card-milestones h4 {
    font-weight:200;
}
