.entries-card {
 border-radius:4px;
 min-height:400px;
 max-height:400px;
 min-width:300px;
 max-width:300px;
 box-shadow: 0 0 15px rgba(0,0,0,0.2);
 margin:10px auto;
 background: white;
}

.entries-card-milestones {
  flex-direction: column;
  min-height:400px;
  max-height:400px;
  width:100%;
  display: flex;
  justify-content: center;
  align-items:center;
}

.entries-card-milestones h4 {
    font-weight:200;
}
