.collapsible {
  background-color: #EF959D;
  color: white;
  cursor: pointer;
  width: 250px;
  height:60px;
  border: none;
  outline: none;
  border-radius:0px 15px 15px 0px;
  // box-shadow: 15px 10px 10px rgba(0,0,0,0.2);
  // border-bottom: 5px solid #C47A81;
  // border-right: 5px solid #C47A81;
  margin-top:10px;
  position: relative;
}

.collapsible {
  transition:0.3s;
}

.active {
  background: #C47A81;
  box-shadow:none;
  transition:0.3s;
}


.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background-color: #F4BBC0;
  width:395px;
  // border-radius:0px 14px 14px 0px;
  margin-bottom:10px;
}



.content:active {
}

.group-collapse {
  height:100%;
  width:395px;
  padding:10px 20px;
  display: flex;
  justify-content: space-between;

}

.group-collapse button {
  color:white;
  border:none;
  background:rgba(0,0,0,0.0);
  margin: 0px;
  padding: 0px;
}

.group-collapse i {
  font-size:16px;
  color:white;
  margin:0px;
}

.group-collapse p {
  color:white;
  border:none;
  font-weight:800;
  font-size:16px;

}
