.collapsible {
  background-color: #EF959D;
  color: white;
  cursor: pointer;
  width: 400px;
  height:100px;
  border: none;
  outline: none;
  border-radius:10px;
  box-shadow: 15px 10px 10px rgba(0,0,0,0.2);
  border-bottom: 7px solid #C47A81;
  border-right: 7px solid #C47A81;
  margin:10px auto;
}

.collapsible {
  transition:0.3s;
}

.active {
  background: #C47A81;
  box-shadow:none;
  transition:0.3s;
}


.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background-color: #F4BBC0;
  border-radius:10px;
  width:400px;
}

.content:active {
}

.group-collapse {
  height:100%;
  width:380px;
  padding:10px 0px;
  display: flex;
  justify-content: space-between;
  margin:0 auto;
}

.group-collapse button {
  color:white;
  border:none;
  background:rgba(0,0,0,0.0);
  margin: 0px;
  padding: 0px;
}

.group-collapse i {
  font-size:16px;
  color:white;
  margin:0px;
}

.group-collapse p {
  color:white;
  border:none;
  font-weight:800;
  font-size:16px;

}
