.form-textfield{
  height:10vh;

  background-color:white;

  width:100%;
  border:none;
  font-size:24px;
  font-weight:200;
  color:#69585F;
  font-family: 'Poppins', sans-serif;
  text-align: center;

  border-radius:4px;

  border-radius: 4px;
}

.form-textfield {


}

.form-control {
  height:10vh;
  background-color:#f4f4f4;
  width:100%;
  font-size:24px;
  border:none;
  font-weight:200;
  color:#69585F;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}


.hidden {
  display: none;
}

input:focus {
    outline-width: 0;
}

::placeholder {
  color:black;
  font-weight:200;
  font-size:16px;
}



.form-submit {
margin-top:2vh;
width:200px;
height:73px;
border:none;
background-color: #EF959D;
color:white;
font-weight:800;
font-size:16px;
border-radius:15px;
border-bottom: 7px solid #C47A81;
}

.form-submit:active {
border:none;
background-color:#DA888F;
}

.form-submit-blue {
width:200px;
height:73px;
border:none;
background-color: #B1DDF1;
color:white;
font-weight:800;
font-size:16px;
border-radius:15px;
border-bottom: 7px solid #A1C9DC;
}

.form-submit-blue:active {
border:none;
background-color:#A1C9DC;
}


.form-secondary {
  margin:0;
}

.form-control-label {

  width:100%;
  border:none;
  font-size:24px;
  font-weight:800;
  color:#69585F;
  font-family: 'Poppins', sans-serif;


}

.form-control {
  background-color:white;
  border-radius: 4px;
}

.btn {
  color:white !important;
  width:200px;
  height:73px;
  border:none;
  background-color: #B1DDF1;
  color:white;
  font-weight:800;
  font-size:16px;
  border-radius:15px;
  border-bottom: 7px solid #A1C9DC;
}

.btn:active {
  background-color:#A1C9DC;
}

.back-button-form {
  display:flex;
  text-align:center;
  display:inline-block;
  padding:20px 50px;
  border-radius:15px;
  background-color: #EF959D;
  color:white;
  border-radius:15px;
  border-bottom: 7px solid #DA888F;

}

.back-button-form a {
  font-weight:800;
  font-family: 'Roboto', sans-serif;

}
