
.flex-left {
  display:flex;
  align-items: flex-start;
  flex-direction: column;
  width:450px;
}

.flex-right {
  display:flex;
  align-items: flex-end;
  flex-direction: column;
  width:450px;
}

.border-bottom {
border-bottom:1px solid #C6C6C6;
}

.height-viewport{
 height:100vh;
}

.container-main {
  width:450px;
  margin: 0 auto;
  height:100%;
}

.grid-main {
  display:grid;
  grid-template-columns: 1fr;
  grid-gap:20px;
}

.flex-main {
  display:flex;
  flex-direction:column;
  justify-content: center;
}

h1, h2, h3 {
  margin:0px;
  color:#3d3c38;
}



h1 {
  font-size: 40px;
  font-weight:800;
}

h2 {
  font-size:40px;
  font-weight:800;
}

h3 {
  font-size: 32px;
  color:#495058;
  font-weight:800;

}

h4 {
  font-size: 24px;
}

p, a{
  font-size:16px;
  margin:0px;
  color:black;
  font-family: 'Open Sans', sans-serif;
  font-weight:200;
}


.green-text {
  color:#B8D8BA;
}

.color1 {

}

  .paragraph-margin {
  margin:5vh 0px;
}

.margin-paragraph {
  margin-bottom:5vh;
}
