

.border-bottom {
border-bottom:1px solid #C6C6C6;
}

.height-viewport{
 height:100vh;
}



.container-main {
  width:450px;
  margin: 40px auto;
}

html {
  scroll-behavior: smooth;
}

button {
  margin:0px;
}

.style-inline {
  font-weight:800;
}

.grid-main {
  display:grid;
  grid-template-columns: 1fr;
  grid-gap:20px;
}

.flex-main {
  display:flex;
  align-items: center;
  justify-content: space-between;
}


h1, h2, h3 {
  margin:0px;
  color:#3d3c38;
}



h1 {
  font-size: 40px;
}

h2 {
  font-size:40px;
}

h3 {
  font-size: 32px;
  color:#495058;

}

h4 {
  font-size: 24px;
  font-family: 'Nunito', sans-serif;


}

p, a{
  font-size:20px;
  margin:0px;
  font-weight:200;
  color:black;
  font-family: 'Nunito', sans-serif;
}


.green-text {
  color:#B8D8BA;
}

.color1 {

}


.margin-paragraph {
  margin-bottom:5vh;
}

.space-between {
  scroll-behavior: smooth;
  height:100vh;
}
