#milestone_title {
}

.box {
  // width: 40%;
  margin: 0 auto;
  // padding: 35px;
  // border-radius: 20px/50px;
  // background-clip: padding-box;
  // text-align: center;
}


.button {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  bottom:3px;
  right:3px;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0.0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 15px;
  border-right:5px solid #E5E5E5;
  border-bottom:5px solid #E5E5E5;
  width: 400px;
  position: relative;
}


.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #B8D8BA;
}
.popup .content {
    max-height: 150px;
  overflow: auto;
  width:300px;
}

.popup2 {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup2 .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #B8D8BA;
}
.popup2 .close:hover {
  color: #B8D8BA;
}
.popup2 .content2 {
  max-height: 30%;
  overflow: auto;
}

// @media screen and (max-width: 700px){
//   .box{
//     width: 20px;
//   }
//   .popup2{
//     width: 400px;
//   }
// }
