.card-journal {
  background-color:white;
  width:450px;
  display: flex;
  height:250px;
  border-radius:15px;
  box-shadow: 10px 15px 2px rgba(0,0,0,0.2);
  background: #EF959D;
  border-bottom: 7px solid #C47A81;
  border-right: 7px solid #C47A81;
}

.card-journal-profile {
  display: flex;
align-items: center;
height:100%;
padding:0 20px;
border-radius:5px 0px 0px 5px;
width:140px;
}

.card-journal-profile img {
  border-radius:50%;
}

.card-journal-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  width:100%;
  height:100%;
}

.card-journal-entries {
  display:flex;
  flex-direction: column;
  justify-content:space-between;
  width:100%;
  height:100%;
}

.card-journal-trophies {
  display:flex;
  align-items:flex-end;
  justify-content:center;
  height:100%;
  width:100%;

}

.trophies, .time, .times, .something {
  margin: 5px 10px;
}

.trophies {
  display: flex;
  flex-direction: column;

}

.time {
  display: flex;
  flex-direction: column;
}

.times {
  display:flex;
  flex-direction: column;
}

.something {
  display: flex;
  flex-direction: column;
}


.card-journal p {
  color:white;
}

.card-journal h2 {
  color:white;
}
