.card-journal {

  width:400px;
  min-height:90vh;
  background:white;
  border-radius:15px;
  box-shadow: 15px 10px 10px rgba(0,0,0,0.2);
  background: white;
  border-bottom: 5px solid #E5E5E5;
  border-right: 5px solid #E5E5E5;
  margin:30px auto;
}

.card-journal-top h2 {
  color:#69585F;
  font-weight:800;
}

.card-journal-top {
  height:100px;
  background: #f4f4f4;
  border-radius:15px 15px 0px 0px;
  width:100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-journal-top img {
  width:80px;
  height:80px;
  border-radius:50%;
  background: white;
}

.card-journal-trophies {
  display:flex;
  height:100px;
  width:100%;
  background: #EF959D;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color:white;
  // border-bottom:5px solid #DA888F;
}

.card-journal-trophies i {
  font-size:30px;
}

.card-journal i {
  color:white;
}

.card-journal-trophies p {
  color:white;
  font-weight:800;
  color:white;
}

.card-journal-entries {
  margin:20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
      border-bottom:1px solid #ECECEC;
}

.card-journal-entries p {
  font-weight:800;
  color:#69585F;
}

.card-journal-entries h3 {
  font-weight:400;
  color:#69585F;
  font-size:16px;
}

.card-journal-show-entries {
  background: #B8D8BA;
  width: 250px;
  height:60px;
  border-radius:0px 15px 15px 0px;
  display:flex;
  justify-content: center;
  align-items:center;
}

.card-journal-show-entries p {
  font-weight:800;
  color:white;

}

.card-journal-show-entries-wrapper {
  display: flex;
  height:400px;
  align-items: center;
}
