.card-journal {
  width:400px;
  height:270px;
  border-radius:15px;
  box-shadow: 15px 10px 10px rgba(0,0,0,0.2);
  background: #EF959D;
  border-bottom: 5px solid #C47A81;
  border-right: 5px solid #C47A81;
  margin:30px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-create-journal p {
  font-size:18px;
  font-weight:200;
}



.card-journal-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  width:400px ;
  height:40px;
  margin:10px 0px;
}


.card-journal-entries {
  width:400px;
  font-weight:800;
  height:50px;
  display: flex;
  flex-direction: column;
  margin:10px 20px;
}

.card-journal-trophies {
  display:flex;
  align-items:flex-end;
  justify-content:center;
  height:30px;
  width:100%;
}

.trophies, .time, .times, .something {
  margin: 5px 10px;
}

.trophies {
  display: flex;
  flex-direction: column;
  font-size:30px;
  color:white;
  text-align: center;
}
.trophies p {
  font-weight:800;
}

.time p {
  font-weight:800;
}

.time {
  display: flex;
  flex-direction: column;
  font-size:30px;
  color:white;
  text-align: center;
}

.times {
  display:flex;
  flex-direction: column;
  font-size:30px;
  color:white;
  font-weight:800;
}

.something {
  display: flex;
  flex-direction: column;
  font-size:30px;
  color:white;
  font-weight:800;
}


.card-journal p {
  color:white;

}

.card-journal h2 {
  color:white;
}

.group-trophies {
  display:flex;
}

.card-own-journal {
  margin: 0 auto;
  background: white;
  height:500px;
  width:400px;
  border-radius:20px;
  box-shadow: 15px 10px 10px rgba(0,0,0,0.2);
  border-bottom: 5px solid #E8E8E8;
  border-right: 5px solid #E8E8E8;
}

.card-own-journal-text {
  display:flex;
  width:100%;
  display: flex;
  align-items:center;
  text-align: center;
}

.card-own-journal-text p {
    font-size:18px;
    font-weight:200;
}

.card-own-journal img {
  width:63px;
  height:224px;
}

.card-own-journal-button {
  width:100%;
  text-align: center;
  border-top:none !important;
}
