* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  outline: none;
}


.active {
  display: block;
}

html {
display: block;
}

.container-main {
  width:310px;
  margin: 0 auto;
}

.none {
  display: none;

}

.flex {
  display: flex;
}

.block {
  display: block;
}